cifar-10-batches-py/*
.idea/*
model.pt
datasets/*
vocs/*
features/*
models/*
*.png
.mypy_cache/*
evaluations/*
evaluations_5/*
starting_commands/*
*.csv
adversarial_images/*
adversarial_images_5/*
/features.zip
__pycache__/*
