https://github.com/ChantalMP/foolbox/blob/master/dist/foolbox-1.9.0-py3-none-any.whl?raw=true
numpy==1.16.2
keras==2.2.4
Keras-Applications==1.0.7
matplotlib==3.0.3
tensorflow==1.9.0
scikit-learn==0.20.3
Pillow==6.0.0
randomgen==1.16.4
torch==1.0.1.post2
torchvision==0.2.2.post3
opencv-contrib-python==3.3.1.11
tensorflow-gpu==1.9.0
scikit-image==0.15.0
fishervector==0.1
mypy==0.701
plaidml-keras==0.6.0